/** My CSS3 file **/

html {
    background: url(../images/background2.jpg) no-repeat fixed !important;
    background-color: rgba(255, 255, 255, 0.3) !important;
    background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: 1;
    margin: 0px;
}

body {
    background: transparent !important;
    font-size: 20px;
    padding: 0px;
}

#header {
    width: 100%;
    height: auto;
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    text-align: left;
    color: #99ddff;
    border-bottom: 4px solid #4aaaa5;
}

#navName {
    display: inline-block;
    padding: 10px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    margin: 0px !important;
    padding: 20px;
    font-size: 2em;
}

#nav {
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1.3em;
    color: #4aaaa5;
    text-decoration: none;
    list-style-type: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: auto;
    color: #4aaaa5;
}

li {
    float: right;
    color: #4aaaa5;
}

li a {
    display: block;
    padding: 27px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.7);
    border-left: 1px solid #efefef;
}


/* Change the link color on hover */

li a:hover {
    background-color: #99ddff;
    text-decoration: none;
}

h1 {
    color: #210038;
    font-size: 2em;
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    font-weight: bold;
    line-height: 200%;
    margin: 15px !important;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 15px;
    color: #210038;
}

hr {
    margin: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

#about {
    margin: 30px !important;
    line-height: 27px;
}

.input-group-addon {
    background-color: rgba(118, 196, 185, 0.2) !important;
}

#myPicture {
    float: left;
    height: 150px;
    width: 150px;
    margin: 30px;
    margin-top: 18px;
}


/*Portfolio page*/

.work {
    position: relative;
    width: 274px;
    height: 205px;
    border: 0 none;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

img.work {
    width: 100%;
}

.projText {
    font-family: 'Georgia', Times, Times New Roman, serif !important;
    position: absolute;
    width: 254px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    color: #210038;
    text-align: center;
    background: #4aaaa5;
    bottom: 0px;
}

.leftPort {
    display: inline-block;
    width: 675px;
    height: 100%;
    margin: 100px;
    margin-left: 200px;
    border-width: 5px;
    border-color: #dddddd;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background: rgba(255, 255, 255, 0.3);
    color: #210038;
}

.left {
    display: inline-block;
    width: 700px;
    height: 100%;
    margin: 100px;
    margin-left: 200px;
    border-width: 5px;
    border-color: #dddddd;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background: rgba(255, 255, 255, 0.3);
    color: #210038;
}

.right {
    float: right;
    background-color: #fff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    width: auto;
    height: auto;
    margin: 100px;
    margin-right: 200px;
    text-align: center;
    padding: 10px;
    border-width: 5px;
    border-color: #dddddd;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    background: rgba(255, 255, 255, 0.3);
}

#footer {
    clear: both;
    position: static;
    font-family: 'Georgia', Times, Times New Roman, serif;
    height: 60px !important;
    width: 100%;
    text-align: center;
    color: #fff;
    border-top: 4px solid #4aaaa5;
    line-height: 60px;
    bottom: 0px;
}

#success_message {
    display: none;
}
